body{
    font-family: 'Dancing Script', cursive;
    background-image: url(../img/sunset-3614691_1920.jpg);
    background-repeat: no-repeat;
}
a{
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-start;
}
h3{
    margin-left: 10px;
}

tr{
    margin: 30px;
    padding: 20px;
    border-color: rgb(32, 56, 1);
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;

    background-color: rgba(231, 75, 64, 0.993);
}

tr:nth-of-type(odd){
    margin: 30px;
    padding: 20px;
    border-color: rgb(252, 255, 78);
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    background-color: rgb(60, 31, 167);
}

th{
    padding: 15px;
    border-radius: 5px;
    border-width: 2px;
    border-style:solid;
}




table{
    border-color: rgb(67, 172, 6);
    border-width: 4px;
    border-style:double;
    border-radius: 10px;
}

section{
    width: 25%;
    float: left;
   
}
header{
    height: 45px;
    background-color: aquamarine;
    border-radius: 10px;
    align-content: center;
    border-width: 3px;
    border-color: blue;
    border-style: dashed;
}
a{
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    padding: 30px;

}

#information{
    font-size: 30px;
    background-color: rgba(80, 214, 214, 0.507);
    font-family: 'Fredoka One', cursive;
    float:unset;
    width:fit-content;
    padding: 5px;
    border-width: 2px;
    border-radius: 15px;
    border-color: blue;
    border-style:dashed;
    margin-top: 30px;
}

#head1{
    background-color: rgba(175, 86, 74, 0.747);
    text-align: center;
    align-self:center;
    margin-left: 25%;
    margin-right: 25%;

    border-color: rgb(67, 172, 6);
    border-width: 4px;
    border-style:double;
    border-radius: 10px;
    
}

#add_new{
    
    margin-bottom: 20px;
    width: 100%;
    background-color: rgba(175, 86, 74, 0.747);
    border-color: rgb(67, 172, 6);
    border-width: 4px;
    border-style:double;
    border-radius: 10px;
}


#add_new>*{
    float:none;
    border-width: 2PX;
    width: 100%;
    
}

#section2>*{
    float:left;
    margin-left: 30px;
    width: 100%;  
    padding: 5px;
    margin: 5px;
    text-align: center;
}

form {
    float:left;
    margin-left: 30px;
    width: 100%; 
    padding: 5px;
    margin: 5px;
    text-align: center;
}

form>*{
    float:left;
    margin-left: 30px; 
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#information>p{
    font-size: 20px;
}